<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body style="text-align: center;">
    <table style="width: 800px;  margin:0px auto;" class="table">
        <thead>
            <tr style="background-color: rgb(51, 50, 50); color: darkorange;" class="tableHeader">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Michael</td>
                <td>Choi</td>
                <td>Michael Choi</td>
            </tr>
            <tr>
                <td>John</td>
                <td>Supsupin</td>
                <td>John Supsupin</td>
            </tr>
            <tr>
                <td>Mark</td>
                <td>Guillen</td>
                <td>Mark Guillen</td>
            </tr>
            <tr>
                <td>KB</td>
                <td>Tonel</td>
                <td>KB Tonel</td>
            </tr>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>